<div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="page-title">
                FACTURAS
            </h3>
        </div>
    </div>
</div>
<hr>

<div class="m-content">
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__body">
            <div class="row" style="justify-content: center">
                <div class="m-loader" style="width: 30px;" *ngIf="!data"></div>
            </div>

            <app-facturaciones-datatable
                    *ngIf="data"
                    [data]="data"
                    [filters]="filters"
                    (filtersChange)="onFiltersChange($event)"
                    [totalItems]="totalItems"
            ></app-facturaciones-datatable>
            <!--end: Datatable -->
        </div>
    </div>
</div>