img {
    height: 100px;
    width: 100px;
    object-fit: contain;
}
img:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.selected {
    padding: 2px;
    margin: 2px;
    width: 100px;
    height: 100px;
    object-fit: contain;
    background-color: #00c5dc;
}
