<table class="table table-bordered table-responsive m-table m-table--head-bg-brand">
    <thead>
    <tr>
       
        <th>
        </th>
        <th>Fecha</th>
        <th>Código Almacén</th>
        <th>Tracking</th>
        <th>Descripción</th>
        <th>Remitente</th>
        <th>Peso(Lb)</th>
        <th>Piezas</th>
        <th>Dim(In)</th>
        <th>Vol(Vlb)</th>
        <th>Valor(USD)</th>
        <th>Documento</th>
        <th>En Tránsito</th>
        <th>Estado</th>
        <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngIf="!data.length">
        No se encontraron resultados
    </tr>
    <tr *ngFor="let articulo of data">
        <td>
            <i class="fa fa-dropbox" style="font-size: 10px" *ngIf="articulo.consolidado">{{articulo.codigo_consolidado}}</i>
            <a style="cursor: pointer;" *ngIf="articulo.enviar" (click)="modalEmbarque(embarqueModal,articulo )"> 
                <i class="fa fa-plane" *ngIf="(articulo.estado_articulo.id <= 2 && !articulo.editar_embarque) && articulo.embarque_por && articulo.embarque_por.is_client" style="font-size: 10px;color:#ee1111;    border: 1px solid;
                    padding: 5px;margin-left: -8px;" title="Instrucciones de Embarque por Cliente"  ></i>
                <i class="fa fa-plane" *ngIf="(articulo.estado_articulo.id <= 2 && !articulo.editar_embarque) && articulo.embarque_por && !articulo.embarque_por.is_client" style="font-size: 10px;color:#4f9e35;" title="Instrucciones de Embarque por Administrativo"  ></i>
                <i class="fa fa-plane" *ngIf="(articulo.estado_articulo.id <= 2 && !articulo.editar_embarque) && !articulo.embarque_por" style="font-size: 10px;color:#ee1111" title="Instrucciones de Embarque"  ></i>
    
                <i class="fa fa-plane" *ngIf="(articulo.estado_articulo.id <= 2 && articulo.editar_embarque) && articulo.embarque_por && articulo.embarque_por.is_client" style="font-size: 10px;color:#ee1111;    border: 1px solid;
                    padding: 5px;margin-left: -8px;" title="Instrucciones de Embarque por Cliente (Bloqueada Edición)"  ></i>
                <i class="fa fa-plane" *ngIf="(articulo.estado_articulo.id <= 2 && articulo.editar_embarque) && articulo.embarque_por && !articulo.embarque_por.is_client" style="font-size: 10px;color:#4f9e35" title="Instrucciones de Embarque por Administrativo (Bloqueada Edición)"  ></i>
                <i class="fa fa-plane" *ngIf="(articulo.estado_articulo.id <= 2 && articulo.editar_embarque) && !articulo.embarque_por" style="font-size: 10px;color:#ee1111" title="Instrucciones de Embarque (Bloqueada Edición)"  ></i>
    
                <i class="fa fa-plane" *ngIf="articulo.estado_articulo.id > 2 && articulo.embarque_por && articulo.embarque_por.is_client" style="font-size: 10px;color:#ee1111;    border: 1px solid;
                      padding: 5px;margin-left: -8px;" title="Instrucciones de Embarque por Cliente (Bloqueada Edición)"  ></i>
                <i class="fa fa-plane" *ngIf="articulo.estado_articulo.id > 2 && articulo.embarque_por && !articulo.embarque_por.is_client" style="font-size: 10px;color:#4f9e35" title="Instrucciones de Embarque por Administrativo (Bloqueada Edición)"  ></i>
                <i class="fa fa-plane" *ngIf="articulo.estado_articulo.id > 2 && !articulo.embarque_por" style="font-size: 10px;color:#ee1111" title="Instrucciones de Embarque (Bloqueada Edición)"  ></i>
    
                <i class="fa fa-ban" style="font-size: 8px !important;color:#ee1111;float: left;" *ngIf="(articulo.estado_articulo.id > 2 || articulo.editar_embarque) && ((articulo.embarque_por && articulo.embarque_por.is_client) || !articulo.embarque_por)"></i>
                <i class="fa fa-ban" style="font-size: 8px !important;color:#4f9e35;float: left" *ngIf="(articulo.estado_articulo.id > 2 || articulo.editar_embarque) && articulo.embarque_por && !articulo.embarque_por.is_client"></i>
            </a>              
        </td>
        <td>
            {{articulo.fecha_embarque }}
        </td>
        <td>
            {{articulo.trackbox}}
        </td>
        <td>
           {{articulo.tracking}}
        </td>
        <td>
            <span *ngIf="articulo.media == 0">{{articulo.descripcion}}</span>
            <span class="m-link m-link--info" style="cursor: pointer;" *ngIf="articulo.media > 0" (click)="onVerImagenes(articulo.id)">{{articulo.descripcion}}</span>
            <span *ngIf="articulo.extra">({{articulo.extra.nombre}} {{articulo.extra.apellidos}})</span>
        </td>
        <td>
            {{articulo.tienda}}
        </td>
        <td>
            {{articulo.peso | number:'1.2-2' }}
        </td>
        <td>
            {{articulo.piezas}}
        </td>
        <td>
            {{articulo.largo}}x{{articulo.ancho}}x{{articulo.alto}}
        </td>
        <td>
            {{articulo.volumen}}
        </td>
        <td>
            {{articulo.precio}}
        </td>
        <td>
            <span class="m-badge m-badge--info m-badge--wide"  title="Declaración de Valores" style="color: white; background-color: #4f9e35" *ngIf="articulo.factura_url && articulo.fac_d_v && !articulo.consolidado_factura">Si</span>
            <a class="m-badge m-badge--info m-badge--wide" [attr.href]="articulo.factura_url+articulo.factura_file" title="Factura" style="color: white; background-color: #1e1111" target="_blank" *ngIf="articulo.factura_url && !articulo.fac_d_v && !articulo.consolidado_factura">Si</a>
            <a  class="m-badge m-badge--info m-badge--wide" [attr.href]="articulo.factura_url+articulo.factura_file" title="Factura Consolidada" style="color: white; background-color: #4660d1" target="_blank" *ngIf="articulo.factura_url && !articulo.fac_d_v && articulo.consolidado_factura">Si</a>     
            <span class="m-badge m-badge--info m-badge--wide"  title="Factura Consolidada" style="color: white; background-color: #4660d1" *ngIf="articulo.factura_url && articulo.fac_d_v && articulo.consolidado_factura">Si</span>        
            <span class="m-badge m-badge--info m-badge--wide"  title="Factura" style="color: white; background-color: #1e1111" *ngIf="!articulo.factura_url">No</span>            

        </td>
      <td ><i *ngIf="articulo.estado_articulo && articulo.estado_articulo.id == 3" class="fa fa-check m-badge m-badge--info m-badge--wide"  style="color: white; background-color: #4f9e35"></i></td>
      <!-- <td *ngIf="articulo.estado_articulo && articulo.estado_articulo.id != 3"><i class="fa fa-check m-badge m-badge--info m-badge--wide"  style="color: white; background-color: #1e1111"></i></td> -->
        <td>{{(articulo.estado_articulo && articulo.estado_articulo.id == 3 && articulo.envio && articulo.envio.ultimo_estado && articulo.envio.ultimo_estado.estado ) ? articulo.envio.ultimo_estado.estado : '-'}}</td>
        <td>
        <div class="row">
            <div class="col-md-1" *ngIf="(articulo.estado_articulo && articulo.estado_articulo.id < 3 && !articulo.editar_embarque)">
            <i class="fa fa-edit m--font-info" title="Editar Embarque" style="cursor: pointer;" (click)="onEmbarcar(embarcar,articulo.id)"></i>
            </div>
        </div>
        </td>
    </tr>
    </tbody>
</table>
<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12">
        <ngb-pagination [collectionSize]="totalItems" [pageSize]="filters.limit" [(page)]="page"
                        aria-label="Default pagination" (pageChange)="onPageChange()"
                        [maxSize]="5"></ngb-pagination>
    </div>
    <div class="col-md-6 col-lg-6 col-sm-12 m--align-right">
        <div class="m--align-right" style="justify-content: flex-end">
            <select class="form-control m-input m-input--pill m-input--solid m-input--fixed-small" title="Warning"
                    data-style="btn-warning"
                    [(ngModel)]="filters.limit"
                    name="limit" style="width: auto" (change)="onLimitChange()">
                <option *ngFor="let numPerPage of numsPerPage" [ngValue]="numPerPage">
                    {{numPerPage}}
                </option>
            </select>
        </div>
        <div class="m--align-right">
            <span>Mostrando {{registroInicialPagina}}-{{registroFinalPagina}} de {{totalItems}} registros</span>
        </div>
    </div>

</div>

<!--begin::Delete Confirmation Modal-->
<ng-template #deleteConfirmation let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Confirmar Eliminación</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>¿Está seguro que desea eliminar el recurso?</p><br>
        <span class="m--font-danger">Esta acción es irreversible!!</span>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger m-btn--air" (click)="c('aceptar')">Aceptar</button>
    </div>
</ng-template>
<!--end::Modal-->  <!--begin::Modal-->


<!--begin::View  Modal-->
<ng-template #embarqueModal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Instrucciones de Embarque</h4>
        <button type="button" class="close" aria-label="Close" (click)="close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="m-portlet__head-caption">
            
            <div class="m-list-settings">
                <div *ngIf="datoEmbarque" class="m-list-settings__group">
                    <div class="m-list-settings__item">
                        <span class="m-list-settings__item-label">
                            WHBOX
                        </span>
                        <span class="m-list-settings__item-control" *ngIf="!datoEmbarque.warehouse">
                          <i class="fa fa-warning" ></i>
                         </span>
                         <span class="m-list-settings__item-control" *ngIf="datoEmbarque.warehouse">
                            {{ datoEmbarque.warehouse }}
                           </span>
                    </div>
                    <div class="m-list-settings__item">
                        <span class="m-list-settings__item-label">
                            Trackbox
                        </span>
                        <span class="m-list-settings__item-control">
                          {{ datoEmbarque.trackbox }}
                         </span>
                    </div>
                    <div class="m-list-settings__item">
                        <span class="m-list-settings__item-label">
                            Código Consolidado
                        </span>
                        <span class="m-list-settings__item-control">
                          {{ datoEmbarque.codigo_consolidado ? datoEmbarque.codigo_consolidado : '-' }}
                         </span>
                    </div>
                    <div class="m-list-settings__item">
                        <span class="m-list-settings__item-label">
                            Descripción
                        </span>
                        <span class="m-list-settings__item-control">
                          {{ datoEmbarque.descripcion }}
                         </span>
                    </div>
                  
                    <div class="m-list-settings__item">
                        <span class="m-list-settings__item-label">
                            Remitente Embarque
                        </span>
                        <span class="m-list-settings__item-control m-link m-link--info" *ngIf="datoEmbarque.usuario_embarque_remitente && !datoEmbarque.extra_embarque_remitente"
                              (click)="verUsuario(datoEmbarque.usuario_embarque_remitente.id, usuarioModal)">
                              {{datoEmbarque.usuario_embarque_remitente.numero_identidad}} - {{datoEmbarque.usuario_embarque_remitente.codigo}} {{ (!datoEmbarque.usuario_embarque_remitente.empresa || datoEmbarque.usuario_embarque_remitente.empresa == '') ? datoEmbarque.usuario_embarque_remitente.nombre +' '+ datoEmbarque.usuario_embarque_remitente.apellido : datoEmbarque.usuario_embarque_remitente.empresa}}
                         </span>
                         <span class="m-list-settings__item-control" *ngIf="datoEmbarque.usuario_embarque_remitente && datoEmbarque.extra_embarque_remitente"
                         (click)="verUsuario(datoEmbarque.usuario_embarque_remitente.id, usuarioModal)">
                              {{datoEmbarque.usuario_embarque_remitente.numero_identidad}} - {{datoEmbarque.usuario_embarque_remitente.codigo}} {{ (datoEmbarque.usuario_embarque_remitente.empresa && datoEmbarque.usuario_embarque_remitente.empresa != '') ? datoEmbarque.usuario_embarque_remitente.empresa : datoEmbarque.usuario_embarque_remitente.nombre +' '+ datoEmbarque.usuario_embarque_remitente.apellido}} 
                              <br/> ({{ datoEmbarque.extra_embarque_remitente.identificacion }} - {{ datoEmbarque.extra_embarque_remitente.nombre }} {{datoEmbarque.extra_embarque_remitente.apellidos}})
                        </span>
                         <span class="m-list-settings__item-control" *ngIf="!datoEmbarque.usuario_embarque_remitente && datoEmbarque.extra_embarque_remitente"
                         >
                         {{datoEmbarque.extra_embarque_remitente.usuario?.numero_identidad}} - {{datoEmbarque.extra_embarque_remitente.usuario?.codigo}} {{(!datoEmbarque.extra_embarque_remitente.usuario?.empresa || datoEmbarque.extra_embarque_remitente.usuario?.empresa == '') ? datoEmbarque.extra_embarque_remitente.usuario?.nombre +''+ datoEmbarque.extra_embarque_remitente.usuario?.apellido : datoEmbarque.extra_embarque_remitente.usuario?.empresa}} 
                         <br/> ({{ datoEmbarque.extra_embarque_remitente.identificacion }} - {{ datoEmbarque.extra_embarque_remitente.nombre }} {{datoEmbarque.extra_embarque_remitente.apellidos}})
                        </span>
                        <span class="m-list-settings__item-control" *ngIf="!datoEmbarque.usuario_embarque_remitente && !datoEmbarque.extra_embarque_remitente && datoEmbarque.tienda_embarque "
                       >
                         {{ datoEmbarque.tienda_embarque }}
                       </span>
                        <span class="m-list-settings__item-control m-link m-link--info" *ngIf="!datoEmbarque.usuario_embarque_remitente && !datoEmbarque.extra_embarque_remitente &&
                        !datoEmbarque.tienda_embarque && datoEmbarque.usuario_carrier && !datoEmbarque.extra_carrier"
                              (click)="verUsuario(datoEmbarque.usuario_carrier.id, usuarioModal)">
                              {{datoEmbarque.usuario_carrier.numero_identidad}} - {{datoEmbarque.usuario_carrier.codigo}} {{ (!datoEmbarque.usuario_carrier.empresa || datoEmbarque.usuario_carrier.empresa == '') ? datoEmbarque.usuario_carrier.nombre +''+ datoEmbarque.usuario_carrier.apellido : datoEmbarque.usuario_carrier.empresa }}
                         </span>
                         <span class="m-list-settings__item-control" *ngIf="!datoEmbarque.usuario_embarque_remitente && !datoEmbarque.extra_embarque_remitente &&
                         !datoEmbarque.tienda_embarque && datoEmbarque.extra_carrier"
                         >
                         {{datoEmbarque.extra_carrier.usuario?.numero_identidad}} - {{datoEmbarque.extra_carrier.usuario?.codigo}} {{(!datoEmbarque.extra_carrier.usuario?.empresa || datoEmbarque.extra_carrier.usuario?.empresa == '') ? datoEmbarque.extra_carrier.usuario?.nombre +''+ datoEmbarque.extra_carrier.usuario?.apellido : datoEmbarque.extra_carrier.usuario?.empresa}} <br/> ({{ datoEmbarque.extra_carrier.identificacion }} - {{ datoEmbarque.extra_carrier.nombre }} {{datoEmbarque.extra_carrier.apellidos}})
                    </span>
                    <span class="m-list-settings__item-control" *ngIf="!datoEmbarque.usuario_embarque_remitente && !datoEmbarque.extra_embarque_remitente &&
                    !datoEmbarque.tienda_embarque && !datoEmbarque.extra_carrier && !datoEmbarque.usuario_carrier"
                    >
                      {{ datoEmbarque.tienda }}
                     </span>
                    </div>
                    <div class="m-list-settings__item">
                        <span class="m-list-settings__item-label">
                            Consignatario Embarque
                        </span>
                        <span class="m-list-settings__item-control" *ngIf="datoEmbarque.usuario_embarque_importer && !datoEmbarque.extra_embarque_importer"
                        >
                        {{ datoEmbarque.usuario_embarque_importer.numero_identidad }} - {{ datoEmbarque.usuario_embarque_importer.codigo }} {{ datoEmbarque.usuario_embarque_importer.full_name}}
                   </span>
                   <span class="m-list-settings__item-control" *ngIf="datoEmbarque.extra_embarque_importer"
                   >
                   {{ datoEmbarque.extra_embarque_importer.identificacion }} - {{ datoEmbarque.extra_embarque_importer.nombre }} {{datoEmbarque.extra_embarque_importer.apellidos}}
                  </span>
                
                  <span class="m-list-settings__item-control" *ngIf="!datoEmbarque.usuario_embarque_importer && !datoEmbarque.extra_embarque_importer &&
                  datoEmbarque.usuario && !datoEmbarque.extra"
                        >
                        {{datoEmbarque.usuario.numero_identidad}} - {{datoEmbarque.usuario.codigo}} {{ datoEmbarque.usuario.nombre }} {{datoEmbarque.usuario.apellido}}
                   </span>
                   <span class="m-list-settings__item-control" *ngIf="!datoEmbarque.usuario_embarque_importer && !datoEmbarque.extra_embarque_importer &&
                    datoEmbarque.extra"
                   >
                  {{ datoEmbarque.extra.identificacion }} - {{ datoEmbarque.extra.nombre }} {{datoEmbarque.extra.apellidos}}
              </span>
             
                    </div>
                    <div class="m-list-settings__item">
                        <span class="m-list-settings__item-label">
                            Peso(Lb)
                        </span>
                        <span class="m-list-settings__item-control">
                          {{ datoEmbarque.peso | number:'1.2-2' }}
                         </span>
                    </div>
                    <div class="m-list-settings__item">
                        <span class="m-list-settings__item-label">
                            Volumen(Vlb)
                        </span>
                        <span class="m-list-settings__item-control">
                          {{ datoEmbarque.volumen | number:'1.2-2' }}
                         </span>
                    </div>
                    <div class="m-list-settings__item">
                        <span class="m-list-settings__item-label">
                            Costo(USD)
                        </span>
                        <span class="m-list-settings__item-control">
                          {{ datoEmbarque.precio }}
                         </span>
                    </div>
                    <div class="m-list-settings__item">
                        <span class="m-list-settings__item-label">
                            Piezas
                        </span>
                        <span class="m-list-settings__item-control">
                          {{ datoEmbarque.piezas }}
                         </span>
                    </div>
                    <div class="m-list-settings__item">
                        <span class="m-list-settings__item-label">
                            Unidades Físicas
                        </span>
                        <span class="m-list-settings__item-control">
                          {{ datoEmbarque.unidades ? datoEmbarque.unidades : 0 }}
                         </span>
                    </div>
					 <div class="m-list-settings__item">
                        <span class="m-list-settings__item-label">
                            Categoría o partida arancelaria
                        </span>
                        <span class="m-list-settings__item-control">
                            {{ (datoEmbarque.nota && datoEmbarque.categoria ) ? datoEmbarque.categoria +' - '+ datoEmbarque.nota : (datoEmbarque.nota ? datoEmbarque.nota : (datoEmbarque.categoria ? datoEmbarque.categoria : '-')) }}
                         </span>
                    </div>
                    <div class="m-list-settings__item" *ngIf="datoEmbarque.descripcion_embarque">
                        <span class="m-list-settings__item-label">
                          Descripción Recomendada
                        </span>
                        <span class="m-list-settings__item-control">
                          {{ datoEmbarque.descripcion_embarque ? datoEmbarque.descripcion_embarque : '-' }}
                         </span>
                    </div>
                </div>
            </div>

        </div>

    </div>
</ng-template>
<!--end::Modal-->


<!--begin::View  Modal-->
<ng-template #embarcar let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Embarcar</h4>
        <button type="button" class="close" aria-label="Close" (click)="close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="m-portlet__head-caption">
            <div class="m-list-settings">
                <div class="row" style="margin: 5px">
                    <h3>Se embarcarán estos artículos</h3>
                </div>
                <div class="table-responsive">
                <table class="table table-bordered table-responsive m-table m-table--head-bg-brand">
                    <thead>
                    <tr>
                        <th>
                            TRACKBOX
                        </th>
                        <th>
                            Track Remitente
                        </th>
                        <th>Descripción </th>
                         <th>
                            Piezas
                        </th>
                          <th>
                            Dimensiones(In)
                        </th>
                        <th>
                            Peso(Lb)
                        </th>
                      
                        <th>
                            Costo(USD)
                        </th>  
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let articulo of articulos">
                        
                        <td>
                            <p *ngIf="articulo.trackbox">{{ articulo.trackbox }}</p>
                            <i class="fa fa-warning" *ngIf="!articulo.trackbox"></i>
                        </td>
                         <td>
                            {{ articulo.tracking }}
                        </td>
                          <td>{{ articulo.descripcion }}</td>
                           <td>
                            {{ articulo.piezas }}
                        </td>
                         <td>
                            {{ articulo.largo }}x{{articulo.ancho}}x{{articulo.alto}}
                        </td>
                        <td>
                            {{ articulo.peso | number:'1.2-2' }}
                        </td>
                       
                        <td>
                            {{ articulo.precio }}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5" style="text-align: center;"><h4>Total</h4></td>
                        <td>{{ totalPeso | number:'1.2-2' }}</td>
                        <td>{{ totalPrecio }}</td>
                    </tr>
                    </tbody>
                </table>
                </div>
                <div *ngIf="existeRemitente"
                class="col-12"
                style="background-color: #676c7bd8; color: white; margin: 3px"
                >
                    <span>Debe seleccionar Remitente porque no coinciden los artículos seleccionados.</span>
                </div>
                <div *ngIf="existeImporter"
                class="col-12"
                style="background-color: #676c7bd8; color: white; margin: 3px"
                >
                    <span>Debe seleccionar Importer porque no coinciden los artículos seleccionados.</span>
                </div>
                <div class="row" style="margin: 5px">
                    <h4>Puede cambiar los datos de embarque sino se tomarán los iniciales por defecto</h4>
                </div>
                <form class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed"
                      #embarcarForm="ngForm"  (submit)="onSubmitEmbarcar(embarcarForm.value)">
                    <div class="m-portlet__body">
                   
                    <div class="form-group m-form__group row" style="padding-top:10px !important;">
                            <label class="col-lg-3 col-form-label">
                                Remitente:
                            </label>
                            <div class="col-lg-4">
                                <input type="text" class="form-control m-input" placeholder="Tienda o Usuario NO REGISTRADO"
                                [(ngModel)]="text"  #remitente_text="ngModel"
                                name="remitente_text" (keyup)= "validarForm()"
                                >
                            </div>
                            <div class="col-lg-4">
                                <div class="m-loader m-loader--primary m-loader--right" *ngIf="!usuarios">
                                    <input type="text" class="form-control"/>
                                </div>
                                <app-auto-complete *ngIf="usuarios" placeholder="SOLO PARA MIGRANTES"
                                                    [(ngModel)]="remitente_usuario" #remitente_id="ngModel"
                                                    name="remitente_id"  [items]="usuarios"
                                                    [textField]="'numero_identidad'"
                                                    textField1="nombre"
                                                    textField2="apellido"
                                                    valueField="numero_identidad"
                                                    [isModal]="true"
                                                    (change)= "validarForm()"
                                ></app-auto-complete>
                            </div>
                         
                        </div>
                        <div class="form-group m-form__group row">
                           
                            <label class="col-lg-3 col-form-label">
                                Consignatario*:
                            </label>
                            <div class="col-lg-4">
                                <div class="m-loader m-loader--primary m-loader--right" *ngIf="!usuarios_importer">
                                    <input type="text" class="form-control"/>
                                </div>
                                <app-auto-complete *ngIf="usuarios_importer" placeholder="Seleccione"
                                                    [(ngModel)]="importer_usuario" #importer="ngModel"
                                                    name="importer" [items]="usuarios_importer"
                                                    [textField]="'numero_identidad'"
                                                    textField1="nombre"
                                                    textField2="apellido"
                                                    valueField="numero_identidad"
                                                    [isModal]="true"
                                                    (change)= "validarForm()"
                                ></app-auto-complete>
                            </div>
                            <label class="col-lg-3 col-form-label" *ngIf="!consolidadoFact">
                                Unidades Físicas:
                             </label>
                             <div class="col-lg-2">
                                 <h5 *ngIf="dv && !consolidadoFact" class="text-left" style="margin-top: 10px;">{{ unidades }} </h5>
                                 <input type="number" min="0" *ngIf="!dv && !consolidadoFact" class="form-control m-input" placeholder="Unidades"
                                 [(ngModel)]="unidades"  #unidad="ngModel"
                                 name="unidad" required
                                 > 
                             </div>
                        </div>
                        
                         <div class="form-group m-form__group row">
                         <div class="col-lg-12" >
                            <label class="col-lg-12 col-form-label">
                                Cambiar descripción si es necesario:
                             </label><br/>
                             <input  *ngIf="dv && !consolidadoFact"  type="text" class="form-control m-input" placeholder="Descripción"
                             [(ngModel)]="descripcionembarque"  #descripcion="ngModel" required
                             name="descripcion" readonly style="background-color: #6f727d38"
                             > 
                             <input  *ngIf="!dv && !consolidadoFact"  type="text" class="form-control m-input" placeholder="Descripción"
                             [(ngModel)]="descripcionembarque"  #descripcion="ngModel"
                             name="descripcion"
                             > 
                        
                         <div class="table-responsive"  *ngIf="consolidadoFact">
                            <table class="table table-bordered table-responsive m-table m-table--head-bg-brand">
                                <thead>
                                <tr>
                                    <th>
                                        TRACKBOX
                                    </th>
                                   
                                    <th>Descripción </th>
                                    <th>Unidades </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let a of articulos">
                                    
                                    <td>
                                        <p *ngIf="a.trackbox">{{ a.trackbox }}</p>
                                        <i class="fa fa-warning" *ngIf="!a.trackbox"></i>
                                    </td>
                                    
                                    <td> 
                                        <input type="text" *ngIf="!a.fac_d_v" class="form-control m-input" placeholder="Descripción"
                                        [(ngModel)]="a.descripcion_embarque"  #descripcion+{{a.id}}="ngModel"
                                        name="descripcion+{{a.id}}"
                                        > 
                                        <input *ngIf="a.fac_d_v" type="text" class="form-control m-input" placeholder="Descripción"
                                        [(ngModel)]="a.descripcion_embarque"  #descripcion+{{a.id}}="ngModel"
                                        name="descripcion+{{a.id}}" required readonly style="background-color: #6f727d38"
                                        >
                                    </td>
                                    <td>
                                        <input type="number" *ngIf="!a.fac_d_v" min="0" class="form-control m-input" placeholder="Unidades"
                                        [(ngModel)]="a.unidades"  #unidad+{{a.id}}="ngModel"
                                        name="unidad+{{a.id}}" required
                                        > 
                                        <h5 *ngIf="a.fac_d_v" class="text-left">{{ a.unidades }} </h5>
                                    </td>
                                </tr>
                              
                                </tbody>
                            </table>
                            </div>
                        </div>
                        </div>
                        <div class="form-group m-form__group row">
                           
                            <label class="col-lg-3 col-form-label">
                                Categoría o partida arancelaria:
                            </label>
                            <div class="col-lg-3">
                                <select class="form-control m-input" placeholder="Categoría"
                                [(ngModel)]="arancel" #categoria="ngModel" name="categoria" required>
                                    <option *ngFor="let arancel of arancelesCat" [ngValue]="arancel.codigo">
                                        {{arancel.codigo}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-lg-6">
                                <input type="text" maxlength="255" class="form-control m-input" placeholder="Categoría o partida arancelaria"
                                [(ngModel)]="notaembarque"  #nota="ngModel"
                                name="nota"
                                > 
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <div class="col-lg-3"><span>
                                A - DOCUMENTOS <br/>
                                B- 4X4</span>
                            </div>
                        
                        <div class="col-lg-5">
                            <span>
                            C-  COURIER CON PARTIDA ARANCELARIA <br/>
                            D - PRENDAS DE VESTIR, TEXTILES CONFECCIONADOS Y CALZADO 
                            </span>
                        </div>
                        
                        <div class="col-lg-4"><span>
                            E - MEDICINAS CON RECETAS <br/>
                            F - EQUIPOS DE COMPUTADORA Y LIBROS <br/>
                            G - MIGRANTES</span>
                        </div>
                      
                    </div>
                    </div>
                    <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
                        <div class="m-form__actions m-form__actions--solid">
                            <div class="row" *ngIf="mensaje">
                                <div class="col-lg-1"></div>
                                <div class="col-lg-11">
                                   <h4>¿Está seguro de embarcar?</h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-2"></div>
                                <div class="col-lg-10">
                                    <button *ngIf="!confirmar"
                                            [disabled]="validar || (!consolidadoFact && unidades == 0)"
                                            [class]="(embarcarForm.invalid == false) ? 'btn btn-success' : 'btn btn-danger'"
                                            >
                                        Guardar
                                    </button>
                                    <button *ngIf="confirmar"
                                        [disabled]="validar || (!consolidadoFact && unidades == 0)"
                                        [class]="(embarcarForm.invalid == false) ? 'btn btn-success' : 'btn btn-danger'"
                                        type="submit">
                                        SI
                                    </button> 
                                    <button *ngIf="confirmar" class="btn btn-secondary"
                                    (click)="negadaConfirmacion()">
                                        NO
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</ng-template>
<!--end::Modal-->
