<div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="page-title">
                 TUTORIALES
            </h3>
        </div>
    </div>
</div>
<hr>
 
<div class="m-content">
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__body">
         
            <div class="m-portlet__head-caption">
            
                <div class="m-list-settings">
                    <div class="m-dropdown__content">
                        <div class="m-portlet m-portlet--bordered">
                            <div class="m-portlet__head">
                                <div class="m-portlet__head-caption">
                                    <div class="m-portlet__head-title">
                                        <h3 class="m-portlet__head-text m-link" style="cursor: pointer" (click)="selectVideo(1)">
                                            1-COMO USAR MI CUENTA
                                        </h3>
                                    </div>
                                </div>
                            </div>
                            <div class="m-portlet__body row" *ngIf="videoselected == 1 && activo">
                                <div class="col-md-3">
                                    <video controls width="200">
                                        <source src="../../../../../assets/app/media/tutorial/1.mp4" />
                                     </video> 
                                </div>
                                <div class="col-md-9">
                                    <span>
                                        Ingresa a tu cuenta, en el menú podrás observar lo siguiente:  <br/>

                                        CASILLERO - donde encontrarás la dirección en USA con el código de casillero. También verás diferentes pestañas para hacer tus instrucciones  según el proceso y así revisar el estado de tus paquetes. <br/>

                                        COTIZADOR - Allí puedes calcular el flete, valores aproximados de impuestos y trámites. <br/>

                                        PERFIL - Acá tendrás tu información de registro, pestañas de usuarios extras y cambio de contraseña. <br/>

                                        RECIBOS - El listado y estado de los recibos de cobros que se te ha hecho en tu cuenta. <br/>

                                        AYUDA - Te mostrará las preguntas frecuentes. <br/>

                                        CONTACTANOS - Te llevará a nuetros servicio al cliente. <br/>

                                        INFORMAR RASTREO - Registra los números de rastreos o trackings de tus pedidos. (Esto es opcional).

                                    </span>
                                </div>
                            </div>
                    </div>
                    <div class="m-portlet m-portlet--bordered">
                        <div class="m-portlet__head">
                            <div class="m-portlet__head-caption">
                                <div class="m-portlet__head-title">
                                    <h3 class="m-portlet__head-text m-link" style="cursor: pointer" (click)="selectVideo(2)">
                                        2-COMO SUBIR UNA FACTURA
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="m-portlet__body row" *ngIf="videoselected == 2 && activo">
                            <div class="col-md-3">
                            <video controls width="200">
                                <source src="../../../../../assets/app/media/tutorial/2.mp4" />
                             </video> 
                             </div>
                             <div class="col-md-9">
                                 <span>
                                    Una vez que recibas la notificación que un paquete ha llegado sin factura puedes ingresar a CASILLERO y en la pestaña EN BODEGA podrás observar los CÓDIGOS de los paquetes con sus columnas de valor y documento. <br/>
                                    
                                    Primero debemos ingresar el valor de la factura, posterior a esto debemos presionar el ícono de CARPETA y elegir el documento a subir, luego debemos presionar el ícono de guardar. Recuerda solo permite formatos PDF. <br/>
                                    
                                    En el caso que no tengas una factura puedes crear una declaración de valor. Te lo enseñamos en otro video tutorial. 
                                 </span>
                             </div>
                        </div>
                    </div>
                    <div class="m-portlet m-portlet--bordered">
                        <div class="m-portlet__head">
                            <div class="m-portlet__head-caption">
                                <div class="m-portlet__head-title">
                                    <h3 class="m-portlet__head-text m-link" style="cursor: pointer" (click)="selectVideo(3)">
                                        3-COMO CREAR UNA DECLARACIÓN DE VALOR LEGAL
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="m-portlet__body row" *ngIf="videoselected == 3 && activo">
                            <div class="col-md-3">
                            <video controls width="200">
                                <source src="../../../../../assets/app/media/tutorial/3.mp4" />
                             </video> 
                            </div>
                            <div class="col-md-9">
                                <span> En el caso que no tengas una factura, puedes crear una declaración de valor. <br/>

                                    Ingresa en CASILLERO y en la pestaña EN BODEGA, en el paquete aas a la columna DOCUMENTO y le das al ícono PDF, 
                                    se te abrirá un formulario donde debes llenar los datos DESCRIPCIÓN, CANTIDAD Y VALOR UNITARIO. 
                                    Automáticamente se guardará el valor y las unidades físicas del paquete. 
                                    Si el paquete va a ir a nombre de algún usuario extra, debes cambiarlo también.  <br/>
                                    Recuerda esto debe ser real, si la aduana considera que no es correcta, tienen el derecho a sobre valorar o poner multas.
                                    
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet m-portlet--bordered">
                        <div class="m-portlet__head">
                            <div class="m-portlet__head-caption">
                                <div class="m-portlet__head-title">
                                    <h3 class="m-portlet__head-text m-link" style="cursor: pointer" (click)="selectVideo(4)">
                                        4-CONSOLIDAR PAQUETES EN UN SOLO TRAMITE
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="m-portlet__body row" *ngIf="videoselected == 4 && activo">
                            <div class="col-md-3">
                            <video controls width="200">
                                <source src="../../../../../assets/app/media/tutorial/4.mp4" />
                             </video> 
                             </div>
                             <div class="col-md-9">
                                 <span>
                                    Para consolidar varios paquetes en un solo trámite, los paquetes deben tener todos su valores
                                     y documento de soporte individualmente registrados, escoges los paquetes a mano izquierda de cada uno de ellos,
                                      vas al botón CONSOLIDAR. <br/>
                                      Ya con esto podrás embarcar.
                                 </span>
                             </div>
                        </div>
                    </div>
                    <div class="m-portlet m-portlet--bordered">
                        <div class="m-portlet__head">
                            <div class="m-portlet__head-caption">
                                <div class="m-portlet__head-title">
                                    <h3 class="m-portlet__head-text m-link" style="cursor: pointer" (click)="selectVideo(5)">
                                        5-COMO EMBARCAR
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="m-portlet__body row" *ngIf="videoselected == 5 && activo">
                            <div class="col-md-3">
                            <video controls width="200">
                                <source src="../../../../../assets/app/media/tutorial/5.mp4" />
                             </video> 
                            </div>
                            <div class="col-md-3">
                                Estos casos solo se usan si hiciste un pedido y te llegaron por partes o con diferentes números de rastreo. <br/>

                                Debes elegir los paquetes a mano izquierda y en la parte de arriba darle clic en FACTURA CONSOLIDADA. <br/>

                                Ingresa el valor total de la factura, 
                                dale click al ícono de CARPETA y elige el documento y dale GUARDAR. Recuerda que solo permite formato PDF. <br/>

                                Automáticamente se districuyen los valores y se consolidan los paquetes. Ta estás listo para embarcar. <br/>
                                En el caso que no tengas factura puedes hacerlo con el botón DECLARACIÓN CONSOLIDADA y seguir los pasos. Esto solo se recomienda en el caso de emergencia.

                            </div>
                        </div>
                    </div>
                    <div class="m-portlet m-portlet--bordered">
                        <div class="m-portlet__head">
                            <div class="m-portlet__head-caption">
                                <div class="m-portlet__head-title">
                                    <h3 class="m-portlet__head-text m-link" style="cursor: pointer" (click)="selectVideo(6)">
                                        6-INSTRUCCIONES DE ENTREGA
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="m-portlet__body row" *ngIf="videoselected == 6 && activo">
                            <div class="col-md-3">
                            <video controls width="200">
                                <source src="../../../../../assets/app/media/tutorial/6.mp4" />
                             </video> 
                            </div>
                            <div class="col-md-9">
                                <span>
                                    Solamente es permitido embarcar los paquetes que tienen valores y documentos de soportes registrados. <br/>

                                    Elige a mano izquierda el paquete y dale clic al botón EMBARCAR, en el caso de paquetes consolidados solo debes elegir uno de ellos y automáticamente embarca el resto. <br/>

                                    Se te abrirá una ventana donde debes revisar los datos para la nacionalización, tales como el remitente y consignatario que es con la información que será nacionalizada, colocar las unidades físicas por paquete.
                                    Tienes la opción de cambiar las descripciones en el caso que no tenga o esté equivocado en el registro del paquete al ingresar a bodega. <br/>

                                    Por último eliges que tipo de categoría vas a nacionalizar y en su caso poner alguna nota necesaria al respecto, como una partida arancelaria específica. <br/>

                                    Le das Guardar y confirma que todo esté bien. <br/>

                                    Tus paquetes han sido embarcados

                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet m-portlet--bordered">
                        <div class="m-portlet__head">
                            <div class="m-portlet__head-caption">
                                <div class="m-portlet__head-title">
                                    <h3 class="m-portlet__head-text m-link" style="cursor: pointer" (click)="selectVideo(7)">
                                        7-QUE ES Y COMO CREAR UN USUARIO EXTRA
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="m-portlet__body row" *ngIf="videoselected == 7 && activo">
                            <div class="col-md-3">
                            <video controls width="200">
                                <source src="../../../../../assets/app/media/tutorial/7.mp4" />
                             </video> 
                             </div>
                             <div class="col-md-9">
                                 <span>
                                    Este paso es muy importante para agilizar la entrega de tus paquetes. <br/>
                                     Ve a CASILLERO y a la pestaña INSTRUCCIONES DE ENTREGA.<br/>

                                    Elige el o los paquetes que quieras y dale clic al botón ENTREGA. <br/>
                                    
                                     Te aparecerá un formulario donde debes elegir o llenar los siguientes datos: <br/>
                                    
                                      - A dónde y quién recibe o retira.
                                    
                                    Observa bien las opciones que tenemos y verifica los datos. Puedes escoger datos que ya están registrados, como llenarlos si se da el caso. <br/>
                                    
                                    Dale GUARDAR.
                                    
                                 </span>
                             </div>
                        </div>
                    </div>
                    <div class="m-portlet m-portlet--bordered">
                        <div class="m-portlet__head">
                            <div class="m-portlet__head-caption">
                                <div class="m-portlet__head-title">
                                    <h3 class="m-portlet__head-text m-link" style="cursor: pointer" (click)="selectVideo(8)">
                                        8-PAQUETES EN TRÁNSITO Y ESTADOS GENERALES
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="m-portlet__body row" *ngIf="videoselected == 8 && activo">
                            <div class="col-md-3">
                            <video controls width="200">
                                <source src="../../../../../assets/app/media/tutorial/8.mp4" />
                             </video> 
                            </div>
                            <div class="col-md-9">
                                    <span>
                                        Para revisar los paquetes que han sido embarcados y están en tránsito ve a menú CASILLERO 
                                        y en la pestaña  EMBARCADOS/TRÁNSITO ve a la última columna debe aparecer un ícono color verde, 
                                        este identifica que su paquete ya está en tránsito.  <br/>

                                        También puedes verlo en menú CASILLERO y en la pestaña STATUS GENERAL, puedes filtrar por estados.

                                    </span>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet m-portlet--bordered">
                        <div class="m-portlet__head">
                            <div class="m-portlet__head-caption">
                                <div class="m-portlet__head-title">
                                    <h3 class="m-portlet__head-text m-link" style="cursor: pointer" (click)="selectVideo(9)">
                                        9-RECIBOS DE COBROS
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="m-portlet__body row" *ngIf="videoselected == 9 && activo">
                            <div class="col-md-3">
                            <video controls width="200">
                                <source src="../../../../../assets/app/media/tutorial/9.mp4" />
                             </video> 
                             </div>
                             <div class="col-md-9">
                                 <span>
                                    Ve a menú RECIBOS y podrás ver el listado con su respectivo estado.<br/>
                                    Dale al ícono de DETALLE y podrás ver los paquetes que se está cobrando en ese recibo. <br/>
                                    Para ver tus recibos de paquetes no entregados vas al menú CASILLERO en la pestaña RECIBO DE COBROS.
                                    
                                 </span>
                             </div>
                        </div>
                    </div>
                    <div class="m-portlet m-portlet--bordered">
                        <div class="m-portlet__head">
                            <div class="m-portlet__head-caption">
                                <div class="m-portlet__head-title">
                                    <h3 class="m-portlet__head-text m-link" style="cursor: pointer" (click)="selectVideo(10)">
                                        10-ESTADO DE ENTREGA DE MIS PAQUETES
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="m-portlet__body row" *ngIf="videoselected == 10 && activo">
                            <div class="col-md-3">
                            <video controls width="200">
                                <source src="../../../../../assets/app/media/tutorial/10.mp4" />
                             </video> 
                            </div>
                            <div class="col-md-9">
                                <span>
                                    Para revisar debes ir a menú CASILLERO, en la pestaña POR ENTREGAR podrás
                                    ver la información de la guía de envío a tu domicilio o en su caso, la autorización de retiro en los puntos de entrega.
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
        </div>
    </div>
</div> 