<form class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed" #passwordForm="ngForm"
      (submit)="onSubmit(passwordForm.value)">
    <div class="form-group m-form__group row">
        <label class="col-lg-2 col-form-label">
            Contraseña Actual:
        </label>
        <div class="col-lg-3">
            <input type="password" class="form-control m-input" placeholder="Contraseña Actual"
                   ngModel #password_actual="ngModel" name="password_actual" required>
            <section *ngIf="password_actual.invalid && password_actual.dirty" class="bs">
                <p class="m--font-danger" *ngIf="password_actual.hasError('required')">La contraseña actual es
                    requerida</p>
            </section>
        </div>
    </div>
    <div class="form-group m-form__group row">
        <label class="col-lg-2 col-form-label">
            Nueva Contraseña:
        </label>
        <div class="col-lg-3">
            <input type="password" class="form-control m-input" placeholder="Nueva Contraseña"
                   ngModel #password="ngModel" name="password" required>
            <section *ngIf="password.invalid && password.dirty" class="bs">
                <p class="m--font-danger" *ngIf="password.hasError('required')">La contraseña nueva es requerida</p>
            </section>
        </div>
    </div>
    <div class="form-group m-form__group row">
        <label class="col-lg-2 col-form-label">
            Repetir Contraseña
        </label>
        <div class="col-lg-3">
            <input type="password" class="form-control m-input" placeholder="Contraseña"
                   ngModel #password_repeat="ngModel" name="password_confirmation" required>
            <section *ngIf="password_repeat.invalid && (password_repeat.dirty)" class="bs">
                <p class="m--font-danger" *ngIf="password_repeat.hasError('required')">Debe repetir la
                    contraseña</p>
            </section>
            <section *ngIf="(password_repeat.value != password.value) && (password_repeat.dirty)" class="bs">
                <p class="m--font-danger">Las contraseñas deben ser iguales</p>
            </section>
            <section *ngIf="message && message != 'Contraseña cambiada con éxito'" class="bs">
                <p class="m--font-danger">{{message}}</p>
            </section>
        </div>
    </div>
    <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
        <div class="m-form__actions m-form__actions--solid">
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-10">
                    <section *ngIf="message && message == 'Contraseña cambiada con éxito'" class="bs">
                        <h4 class="m--font-success" style="color: #4cc22f !important;">{{message}}</h4>
                    </section><br/>
                    <button type="submit" class="btn btn-success" [disabled]="passwordForm.invalid">
                        Cambiar Contraseña
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>

