
<form class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed" #extraForm="ngForm"
      (submit)="onSubmit(extraForm.value)">
    <div class="m-portlet__body">
        <div class="form-group m-form__group row">
            <label class="col-lg-2 col-form-label">
                Nombre:
            </label>
            <div class="col-lg-3">
                <input type="text" class="form-control m-input" placeholder="Nombre"
                       [ngModel]="extra.nombre" #nombre="ngModel" name="nombre" required>
                <section *ngIf="nombre.invalid && nombre.dirty" class="bs">
                    <p class="m--font-danger" *ngIf="nombre.hasError('required')">El nombre es requerido</p>
                </section>
            </div>
            <label class="col-lg-2 col-form-label">
                Apellidos:
            </label>
            <div class="col-lg-3">
                <input type="text" class="form-control m-input" placeholder="Apellidos"
                       [ngModel]="extra.apellidos" #apellidos="ngModel" name="apellidos" required>
                <section *ngIf="apellidos.invalid && apellidos.dirty" class="bs">
                    <p class="m--font-danger" *ngIf="apellidos.hasError('required')">El apellidos es requerido</p>
                </section>
            </div>
        </div>
        <div class="form-group m-form__group row">
            <label class="col-lg-2 col-form-label">
                Dirección:
            </label>
            <div class="col-lg-3">
                <input type="text" class="form-control m-input" placeholder="Dirección"
                       [ngModel]="extra.direccion" #direccion="ngModel" name="direccion" required>
                <section *ngIf="direccion.invalid && direccion.dirty" class="bs">
                    <p class="m--font-danger" *ngIf="nota.hasError('required')">La dirección es requerida</p>
                </section>
            </div>
            <label class="col-lg-2 col-form-label">
                Celular:
            </label>
            <div class="col-lg-3">
                <input type="text" class="form-control m-input" placeholder="Teléfono"
                       [ngModel]="extra.celular" #celular="ngModel" name="celular" required>
                <section *ngIf="celular.invalid && celular.dirty" class="bs">
                    <p class="m--font-danger" *ngIf="identificacion.hasError('required')">El celular es requerido</p>
                </section>
            </div>
        </div>
        <div class="form-group m-form__group row">
            <label class="col-lg-2 col-form-label">
                Cédula*:
            </label>
            <div class="col-lg-3">
                <input type="text" class="form-control m-input" placeholder="Cédula"
                       [ngModel]="extra.identificacion" #identificacion="ngModel" name="identificacion" required>
                <section *ngIf="identificacion.invalid && identificacion.dirty" class="bs">
                    <p class="m--font-danger" *ngIf="identificacion.hasError('required')">El cédula es requerida</p>
                </section>
            </div>
            <label class="col-lg-2 col-form-label">
                Código Postal*:
            </label>
            <div class="col-lg-3">
                <input type="text" class="form-control m-input" placeholder="Código Postal"
                    [ngModel]="extra.codigo_postal" #codigo_postal="ngModel" name="codigo_postal" required>
                <section *ngIf="codigo_postal.invalid && codigo_postal.dirty" class="bs">
                    <p class="m--font-danger" *ngIf="codigo_postal.hasError('required')">El Código Postal es requerido</p>
                </section>
            </div>
        </div>
        <div class="form-group m-form__group row">
                   
            <label class="col-lg-2 col-form-label">
                País*:
            </label>
            <div class="col-lg-3">
                <div class="m-loader m-loader--primary m-loader--right" *ngIf="!paises">
                    <input type="text" class="form-control"/>
                </div>
                <select id="pais_id" *ngIf="paises" class="form-control m-input" placeholder="País" (change)="getProvincias(pais_id.value)"
                        [(ngModel)]="extra.pais.id" #pais_id="ngModel" name="pais_id" required>
                    <option [value]="" disabled>Seleccione un Pais</option>
                    <option *ngFor="let pais of paises" [ngValue]="pais.id" >
                        {{pais.nombre}}
                    </option>
                </select>
            </div>
            <label class="col-lg-2 col-form-label" >
                Provincia/Departamento*:
            </label>
            <div class="col-lg-3" >
                <select  class="form-control m-input" placeholder="Provincia" (change)="getCiudades(provincia_id.value)"
                        [(ngModel)]="extra.provincia.id" #provincia_id="ngModel" name="provincia_id" required>
                    <option [value]="" disabled>Seleccione una Provincia</option>
                    <option *ngFor="let provincia of provincias" [value]="provincia.id" >
                        {{provincia.nombre}}
                    </option>
                </select>
            </div>
        </div>
        <div class="form-group m-form__group row">
            <label class="col-lg-2 col-form-label" >
                Ciudad Principal*:
            </label>
            <div class="col-lg-3">
                <select class="form-control m-input" placeholder="Ciudad"
                        [(ngModel)]="extra.ciudad.id" #ciudad_id="ngModel" name="ciudad_id" required (change)="getParroquias(ciudad_id.value)">
                    <option [value]="" disabled>Seleccione un Ciudad</option>
                    <option *ngFor="let ciudad of ciudades" [value]="ciudad.id" >
                        {{ciudad.nombre}}
                    </option>
                </select>
            </div>
            <label class="col-lg-2 col-form-label" >
                Ciudad Secundaria y Parroquía:
            </label>
            <div class="col-lg-3">
                <select class="form-control m-input" placeholder="Parroquía"
                        [(ngModel)]="extra.parroquia.id" #parroquia_id="ngModel" name="parroquia_id">
                    <option [ngValue]="-1">Seleccione una Parroquía</option>
                    <option *ngFor="let p of parroquias" [value]="p.id" >
                        {{p.nombre}}
                    </option>
                </select>
            </div>
           
        </div>
    </div>
    <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
        <div class="m-form__actions m-form__actions--solid">
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-10">
                    <button type="submit" [disabled]="extraForm.invalid"
                            [class]="extraForm.invalid == false ? 'btn btn-success' : 'btn btn-danger'">
                        Aceptar
                    </button>
                  
                </div>
            </div>
        </div>
    </div>
</form>