<div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="page-title">
                COTIZADOR
            </h3>
        </div>
    </div>
</div>
<hr>

<div class="m-content">
    <div class="row">
        <div class="col-md-12">

            <form class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed" #calculadoraForm="ngForm" 
                (submit)="calcular(calculadoraForm.value, resultadosModal)">
                <div class="m-portlet__body">
                    <div class="form-group m-form__group row">
                        <label class="col-md-2 col-form-label">
                            Peso
                        </label>
                        <div class="col-md-2">
                            <input type="number" min="0" class="form-control m-input" placeholder="Peso"
                                ngModel #peso="ngModel" name="peso">
                        </div>
                        <label class="col-md-2 col-form-label">
                            Unidad de medida del Peso
                        </label>
                        <div class="col-md-2">
                            <input type="radio" class="radio-inline" id="Kg" name="tipopeso" value="1" [(ngModel)]="tpeso" #tipopeso="ngModel" required [checked]="tipopeso.value == 1"> <label for="Kg" style="margin-right:30px;"><span></span>Kg</label>
                            <input type="radio" class="radio-inline" id="lb" name="tipopeso" value="0" [(ngModel)]="tpeso" #tipopeso="ngModel" required [checked]="tipopeso.value == 0"> <label for="lb" style="margin-right:30px;"><span></span>Lb</label>      
                        </div>
                        <section *ngIf="tipopeso.invalid && tipopeso.dirty" class="bs">
                            <p class="m--font-danger" *ngIf="tipopeso.hasError('required')">La unidad de medidas es requerida</p>
                        </section>
                    </div>
                    <div class="form-group m-form__group row">
                        <label class="col-md-2 col-form-label">
                            Ancho
                        </label>
                        <div class="col-md-2">
                            <input type="number" min="0" class="form-control m-input" placeholder="Ancho"
                                ngModel #ancho="ngModel" name="ancho">
                        </div>
                        <label class="col-md-2 col-form-label">
                            Largo
                        </label>
                        <div class="col-md-2">
                            <input type="number" min="0" class="form-control m-input" placeholder="Largo"
                                ngModel #largo="ngModel" name="largo">
                        </div>
                    </div>
                    <div class="form-group m-form__group row">
                        <label class="col-md-2 col-form-label">
                            Alto
                        </label>
                        <div class="col-md-2">
                            <input type="number" min="0" class="form-control m-input" placeholder="Alto"
                                ngModel #alto="ngModel" name="alto">
                        </div>
                        <label class="col-md-2 col-form-label">
                            Unidad de medidas de Dimensiones
                        </label>
                        <div class="col-md-4">
                            <input type="radio" class="radio-inline" id="cms" name="tipodimension" value="0" [(ngModel)]="tdimension" #tipodimension="ngModel" required [checked]="tipodimension.value == 0"> <label for="cms" style="margin-right:30px;"><span></span>Cms</label>
                            <input type="radio" class="radio-inline" id="pulg" name="tipodimension" value="1" [(ngModel)]="tdimension" #tipodimension="ngModel" required [checked]="tipodimension.value == 1"> <label for="pulg" style="margin-right:30px;"><span></span>Pulgadas</label>      
                            <section *ngIf="tipodimension.invalid && tipodimension.dirty" class="bs">
                                <p class="m--font-danger" *ngIf="tipodimension.hasError('required')">La unidad de medidas es requerida</p>
                            </section>
                        </div>
                    </div>
                    <div class="form-group m-form__group row">
                        <label class="col-md-2 col-form-label">
                            Valor Declarado(USD)
                        </label>
                        <div class="col-md-2">
                            <input type="number" min="0" class="form-control m-input" placeholder="Valor Declarado(USD)"
                                ngModel #precio="ngModel" name="precio">
                        </div>
                        <label class="col-md-2 col-form-label">
                            Arancel
                        </label>
                        <div class="col-md-2">
                            <app-auto-complete *ngIf="aranceles" placeholder="Arancel"
                            ngModel #arancel_id="ngModel"
                            name="arancel_id" required [items]="aranceles"
                            [textField]="'codigo'"
                            textField1="descripcion"
                            valueField="id"
                            ></app-auto-complete>
                        </div>
                    </div>
                    <div class="form-group m-form__group row">
                        <label class="col-md-2 col-form-label">
                            Tarifario
                        </label>
                        <div class="col-md-2">
                            <app-auto-complete *ngIf="tarifarios" placeholder="Tarifario"
                            ngModel #tarifario_id="ngModel"
                            name="tarifario_id" required [items]="tarifarios"
                            [textField]="'nombre'"
                            valueField="id"
                            ></app-auto-complete>
                        </div>
                    </div>

                </div>

                <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
                    <div class="m-form__actions m-form__actions--solid">
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-lg-10">
                                <button type="submit" class="btn btn-success" [disabled]="calculadoraForm.invalid">
                                    Calcular
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <!--begin::Delete Confirmation Modal-->
            <ng-template #resultadosModal let-c="close" let-d="dismiss">
                <div class="modal-header">
                    <h4 class="modal-title">Resultados</h4>
                    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                      <div class="modal-body">
                    <div class="m-portlet__head-caption">
                             <div class="m-list-settings">
                <div *ngIf="costo" class="m-list-settings__group">
                    <div class="m-list-settings__item">
                        <span class="m-list-settings__item-label">
                            Valor FOB (USD)
                        </span>
                        <span class="m-list-settings__item-control">
                            {{ costo.precio_total }}
                        </span>
                    </div>
                    <div class="m-list-settings__item">
                        <span class="m-list-settings__item-label">
                            Peso(Lb)
                        </span>
                        <span class="m-list-settings__item-control">
                            {{ costo.peso | number:'1.2-2' }}
                        </span>
                    </div>
                    <div class="m-list-settings__item">
                        <span class="m-list-settings__item-label">
                           Volumen(Vlb)
                        </span>
                        <span class="m-list-settings__item-control">
                            {{ costo.volumen }}
                        </span>
                    </div>
                    <br/>
                    <div class="m-list-settings__item">
                        <h4>
                            CARGO SERVICIO
                        </h4>
                
                    </div>
                    <div class="m-list-settings__item">
                        <span class="m-list-settings__item-label">
                            Flete
                        </span>
                        <span class="m-list-settings__item-control">
                            {{ costo.flete }}
                        </span>
                    </div>
                    <div class="m-list-settings__item">
                        <span class="m-list-settings__item-label">
                            Domicilio
                        </span>
                        <span class="m-list-settings__item-control">
                            {{ costo.domicilio }}
                        </span>
                    </div>
                    <div class="m-list-settings__item">
                        <span class="m-list-settings__item-label">
                            Seguro
                        </span>
                        <span class="m-list-settings__item-control">
                            {{ costo.seguro }}
                        </span>
                    </div>
                    <div class="m-list-settings__item">
                        <span class="m-list-settings__item-label">
                            Fuel
                        </span>
                        <span class="m-list-settings__item-control">
                            {{ costo.fuel }}
                        </span>
                    </div>
                    <div class="m-list-settings__item">
                        <span class="m-list-settings__item-label">
                            Sobrepeso
                        </span>
                        <span class="m-list-settings__item-control">
                            {{ costo.sobrepeso }}
                        </span>
                    </div>
                    <div class="m-list-settings__item">
                        <span class="m-list-settings__item-label">
                            Cubicación
                        </span>
                        <span class="m-list-settings__item-control">
                            {{ costo.cubicacion }}
                        </span>
                    </div>
                    <div class="m-list-settings__item">
                        <span class="m-list-settings__item-label">
                            Trámite
                        </span>
                        <span class="m-list-settings__item-control">
                            {{ costo.tramite }}
                        </span>
                    </div>
                       <div class="m-list-settings__item">
                        <span class="m-list-settings__item-label">
                          <strong>Total Transporte</strong>
                        </span>
                        <span class="m-list-settings__item-control">
                            {{ costo.total_transporte + costo.tramite }}
                        </span>
                    </div>
                    <br/>
                    
                    <div class="m-list-settings__item">
                        <h5>
                            CARGO EXTRA(USD)
                        </h5>
                    </div>
                    <div class="m-list-settings__item" *ngIf="(!costo.cargos_extra_con_iva && !costo.cargos_extra_sin_iva) || 
                    (costo.cargos_extra_con_iva && costo.cargos_extra_sin_iva && costo.cargos_extra_con_iva == 0 && costo.cargos_extra_sin_iva ==0)">
                        <span class="m-list-settings__item-label">
                            Cargo Extra con Iva
                        </span>
                        <span class="m-list-settings__item-control">
                            {{ costo.cargos_extra }}
                        </span>
                    </div>
                    <div *ngFor="let con_iva of costo.lista_cargos" class="m-list-settings__item">
                        <span class="m-list-settings__item-label"  *ngIf="con_iva.iva">
                            {{ con_iva.descripcion }} (con IVA)
                        </span>
                        <span class="m-list-settings__item-label"  *ngIf="!con_iva.iva">
                            {{ con_iva.descripcion }} (sin IVA)
                        </span>
                        <span class="m-list-settings__item-control">
                            {{ con_iva.cargo_extra }}
                        </span>
                    </div>
                    <div class="m-list-settings__item" *ngIf="(costo.cargos_extra_sin_iva && costo.cargos_extra_con_iva && (costo.cargos_extra_con_iva + costo.cargos_extra_sin_iva ) < costo.cargos_extra)">
                        <span class="m-list-settings__item-label">
                            Otros Cargos Extra con Iva
                        </span>
                        <span class="m-list-settings__item-control">
                            {{ costo.cargos_extra - (costo.cargos_extra_con_iva + costo.cargos_extra_sin_iva) }}
                        </span>
                    </div>
                       <br/>
                    <div class="m-list-settings__item">
                        <span class="m-list-settings__item-label">
                          <strong>SUBTOTAL</strong>
                        </span>
                        <span class="m-list-settings__item-control">
                            {{ costo.precio_final_facturacion }}
                        </span>
                    </div>
                    <br/>

                    <div class="m-list-settings__item" *ngIf="costo.usa_iva">
                        <span class="m-list-settings__item-label">
                            IVA
                        </span>
                        <span class="m-list-settings__item-control">
                            {{ costo.iva_pecio_final }}
                        </span>
                    </div>
                     <div class="m-list-settings__item" *ngIf="costo.usa_iva">
                        <span class="m-list-settings__item-label">
                           <strong>Precio Final con IVA</strong>
                        </span>
                        <span class="m-list-settings__item-control" >
                            {{ costo.precio_final_facturacion_iva }}
                        </span>
                    </div>
                   
                    <br/>

                     <div class="m-list-settings__item">

                        <h4>
                            IMPUESTOS APROXIMADOS
                        </h4>
                
                    </div>
                    <div class="m-list-settings__item">
                        <span class="m-list-settings__item-label">
                           Impuesto Arancel({{costo.porcentaje_arancel}}%)
                        </span>
                        <span class="m-list-settings__item-control">
                            {{ costo.impuesto_arancel }}
                        </span>
                    </div>
                    <div class="m-list-settings__item">
                        <span class="m-list-settings__item-label">
                            Salvaguarda
                        </span>
                        <span class="m-list-settings__item-control">
                            {{ costo.salvaguarda }}
                        </span>
                    </div>
                    <div class="m-list-settings__item">
                        <span class="m-list-settings__item-label">
                            Fodinfa
                        </span>
                        <span class="m-list-settings__item-control">
                            {{ costo.fodinfa }}
                        </span>
                    </div>
                    <div class="m-list-settings__item">
                        <span class="m-list-settings__item-label">
                            I.C.E (Tasa)
                        </span>
                        <span class="m-list-settings__item-control">
                            {{ costo.ice }}
                        </span>
                    </div>
                    <div class="m-list-settings__item">
                        <span class="m-list-settings__item-label">
                           Impuesto IVA({{costo.porcentaje_iva}}%)
                        </span>
                        <span class="m-list-settings__item-control">
                            {{ costo.impuesto_iva }}
                        </span>
                    </div> 
                    <div class="m-list-settings__item">
                        <span class="m-list-settings__item-label">
                           <strong>TOTAL IMPUESTOS</strong>
                        </span>
                        <span class="m-list-settings__item-control">
                            {{ costo.impuesto_total }}
                        </span>
                    </div> 
                    <br/>
                
                     <div class="m-list-settings__item" >
                        <span class="m-list-settings__item-label">
                           <strong>Precio Final</strong>
                        </span>
                        <span class="m-list-settings__item-control" *ngIf="costo.usa_iva">
                            {{ (costo.precio_final_facturacion_iva_impuesto_total) }}
                        </span>
                         <span class="m-list-settings__item-control" *ngIf="!costo.usa_iva">
                            {{ (costo.precio_final_facturacion_impuesto_total) }}
                        </span>
                    </div>

                </div>
            </div>

                    </div>

                </div>
            </ng-template>
            <!--end::Modal-->

        </div>
    </div>
</div>

