<div class="row align-items-center">
    <div class="col-12 m--align-right">
        <button [disabled]="!puedeFactura || totalEnBodega < 2" class="btn btn-success m-btn m-btn--icon m-btn--air m-btn--custom"
                (click)="onFactura()" style="font-size: 1.2rem;">
            <i class="fa fa-folder-open"></i>
            Facturas consolidadas
        </button>
        <button [disabled]="enviarPaquete || totalEnBodega != 1" class="btn btn-warning m-btn m-btn--icon m-btn--air m-btn--custom"
                (click)="onEmbarcar()" style="font-size: 1.2rem;" >
            <i class="fa fa-plane"></i>
            Embarcar
        </button>
        <button [disabled]="consolidarPaquete || totalEnBodega < 2" class="btn btn-success m-btn m-btn--icon m-btn--air m-btn--custom"
                (click)="onConsolidar()" style="font-size: 1.2rem;">
            <i class="fa fa-dropbox"></i>
            Consolidar
        </button>
    </div>
</div>