<table class="table table-bordered table-responsive m-table m-table--head-bg-brand">
    <thead>
    <tr>
       
        <th><label class="m-checkbox" style="margin-bottom: 16px !important;">
            <input type="checkbox" [(ngModel)]="selectedAll" (change)="onSelectAllClick()">
            <span  style="border: 1px solid #fff !important; background-color: #fff !important;"></span>
        </label> 
        </th>
        <th>Fecha en Bodega</th>
        <th>Código Almacén</th>
        <th>Tracking</th>
        <th>Descripción</th>
        <th>Remitente</th>
        <th>Peso(Lb)</th>
        <th>Piezas</th>
        <th>Dim(In)</th>
        <th>Vol(Vlb)</th>
        <th>Valor(USD)</th>
        <th>Estatus</th>
        <th>Detalles</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngIf="!data.length">
        No se encontraron resultados
    </tr>
    <tr *ngFor="let articulo of data">
        <td>
        <div class="row">
            <div class="col-md-1">
            <label class="m-checkbox">
                <input type="checkbox" [(ngModel)]="articulo.selected" (change)="changeAllState()">
                <span></span>
            </label>
            </div>
            <div class="col-md-3">
            <i class="fa fa-dropbox" style="font-size: 10px" *ngIf="articulo.consolidado">{{articulo.codigo_consolidado}}</i>
            <a style="cursor: pointer;" *ngIf="articulo.enviar" (click)="modalEmbarque(embarqueModal,articulo )"> 
                <i class="fa fa-plane" *ngIf="(articulo.estado_articulo.id <= 2 && !articulo.editar_embarque) && articulo.embarque_por && articulo.embarque_por.is_client" style="font-size: 10px;color:#ee1111;    border: 1px solid;
                    padding: 5px;margin-left: -8px;" title="Instrucciones de Embarque por Cliente"  ></i>
                <i class="fa fa-plane" *ngIf="(articulo.estado_articulo.id <= 2 && !articulo.editar_embarque) && articulo.embarque_por && !articulo.embarque_por.is_client" style="font-size: 10px;color:#4f9e35;" title="Instrucciones de Embarque por Administrativo"  ></i>
                <i class="fa fa-plane" *ngIf="(articulo.estado_articulo.id <= 2 && !articulo.editar_embarque) && !articulo.embarque_por" style="font-size: 10px;color:#ee1111" title="Instrucciones de Embarque"  ></i>
    
                <i class="fa fa-plane" *ngIf="(articulo.estado_articulo.id <= 2 && articulo.editar_embarque) && articulo.embarque_por && articulo.embarque_por.is_client" style="font-size: 10px;color:#ee1111;    border: 1px solid;
                    padding: 5px;margin-left: -8px;" title="Instrucciones de Embarque por Cliente (Bloqueada Edición)"  ></i>
                <i class="fa fa-plane" *ngIf="(articulo.estado_articulo.id <= 2 && articulo.editar_embarque) && articulo.embarque_por && !articulo.embarque_por.is_client" style="font-size: 10px;color:#4f9e35" title="Instrucciones de Embarque por Administrativo (Bloqueada Edición)"  ></i>
                <i class="fa fa-plane" *ngIf="(articulo.estado_articulo.id <= 2 && articulo.editar_embarque) && !articulo.embarque_por" style="font-size: 10px;color:#ee1111" title="Instrucciones de Embarque (Bloqueada Edición)"  ></i>
    
                <i class="fa fa-plane" *ngIf="articulo.estado_articulo.id > 2 && articulo.embarque_por && articulo.embarque_por.is_client" style="font-size: 10px;color:#ee1111;    border: 1px solid;
                      padding: 5px;margin-left: -8px;" title="Instrucciones de Embarque por Cliente (Bloqueada Edición)"  ></i>
                <i class="fa fa-plane" *ngIf="articulo.estado_articulo.id > 2 && articulo.embarque_por && !articulo.embarque_por.is_client" style="font-size: 10px;color:#4f9e35" title="Instrucciones de Embarque por Administrativo (Bloqueada Edición)"  ></i>
                <i class="fa fa-plane" *ngIf="articulo.estado_articulo.id > 2 && !articulo.embarque_por" style="font-size: 10px;color:#ee1111" title="Instrucciones de Embarque (Bloqueada Edición)"  ></i>
    
                <i class="fa fa-ban" style="font-size: 8px !important;color:#ee1111;float: left;" *ngIf="(articulo.estado_articulo.id > 2 || articulo.editar_embarque) && ((articulo.embarque_por && articulo.embarque_por.is_client) || !articulo.embarque_por)"></i>
                <i class="fa fa-ban" style="font-size: 8px !important;color:#4f9e35;float: left" *ngIf="(articulo.estado_articulo.id > 2 || articulo.editar_embarque) && articulo.embarque_por && !articulo.embarque_por.is_client"></i>
            </a>              </div>
           </div>
        </td>
        <td>
            {{articulo.fecha_bodega}}
        </td>
        <td>
            {{articulo.trackbox}}
        </td>
        <td>
           {{articulo.tracking}}
        </td>
        <td>
            <span *ngIf="articulo.media == 0">{{articulo.descripcion}}</span>
            <span class="m-link m-link--info" style="cursor: pointer;" *ngIf="articulo.media > 0" (click)="onVerImagenes(articulo.id)">{{articulo.descripcion}}</span>
            <span *ngIf="articulo.extra">({{articulo.extra.nombre}} {{articulo.extra.apellidos}})</span>
        </td>
        <td>
            {{articulo.tienda}}
        </td>
        <td>
            {{articulo.peso | number:'1.2-2' }}
        </td>
        <td>
            {{articulo.piezas}}
        </td>
        <td>
            {{articulo.largo}}x{{articulo.ancho}}x{{articulo.alto}}
        </td>
        <td>
            {{articulo.volumen}}
        </td>
        <td>
            {{ articulo.precio }}
        </td>
        <td>
            {{ articulo.estado_articulo ? articulo.estado_articulo.nombre : '-' }}
        </td>
       <td>
        <div class="row">
            <div class="col-3">
                <i class="fa fa-eye m--font-info" title="Ver" style="cursor: pointer;" (click)="onVer(articulo, articuloDetallesModal)"></i>   
            </div>
            <div class="col-3" *ngIf="articulo.ver_usuario">
                <i *ngIf="articulo.ver_usuario" class="fa fa-comments-o m--font-success" title="Notas" style="cursor: pointer" 
                   (click)="onNotas(notasModal,articulo)"></i>
            </div>
        </div>
        </td>

    </tr>
    </tbody>
</table>
<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12">
        <ngb-pagination [collectionSize]="totalItems" [pageSize]="filters.limit" [(page)]="page"
                        aria-label="Default pagination" (pageChange)="onPageChange()"
                        [maxSize]="5"></ngb-pagination>
    </div>
    <div class="col-md-6 col-lg-6 col-sm-12 m--align-right">
        <div class="m--align-right" style="justify-content: flex-end">
            <select class="form-control m-input m-input--pill m-input--solid m-input--fixed-small" title="Warning"
                    data-style="btn-warning"
                    [(ngModel)]="filters.limit"
                    name="limit" style="width: auto" (change)="onLimitChange()">
                <option *ngFor="let numPerPage of numsPerPage" [ngValue]="numPerPage">
                    {{numPerPage}}
                </option>
            </select>
        </div>
        <div class="m--align-right">
            <span>Mostrando {{registroInicialPagina}}-{{registroFinalPagina}} de {{totalItems}} registros</span>
        </div>
    </div>

</div>

<!--begin::Delete Confirmation Modal-->
<ng-template #deleteConfirmation let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Confirmar Eliminación</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>¿Está seguro que desea eliminar el recurso?</p><br>
        <span class="m--font-danger">Esta acción es irreversible!!</span>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger m-btn--air" (click)="c('aceptar')">Aceptar</button>
    </div>
</ng-template>
<!--end::Modal-->

<!--begin::Articulo Detalles Modal-->
<ng-template #articuloDetallesModal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Detalles</h4>
        <button type="button" class="close" aria-label="Close" (click)="c('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <table class="table table-bordered table-responsive m-table m-table--head-bg-brand">
            <thead>
            <tr>
                <th>Guía de Envío</th>
                <th>Recibo</th>
                <th>Forma de Entrega</th>
                <th>Guía de Entrega</th>
                <th>Fecha de Entrega</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    {{detalles.codigo_pedido }}
                </td>
                <td>
                    {{detalles.facturacion ? detalles.facturacion.recibo : '-'}}
                </td>
                <td>
                    {{(detalles.entrega && detalles.entrega.guia_enviada && detalles.entrega.courier) ? detalles.entrega.courier.nombre : ((detalles.facturacion && detalles.facturacion.courier) ? detalles.facturacion.courier.nombre : '-') }}
                </td>
                <td>
                    {{(detalles.entrega && detalles.entrega.guia_enviada) ? detalles.entrega.guia : ((detalles.facturacion && detalles.facturacion.guia) ? detalles.facturacion.guia : '-') }}
                </td>
                <td>
                    {{(detalles.entrega && detalles.entrega.guia_enviada) ? (detalles.entrega.fecha_guia) : ((detalles.facturacion && detalles.facturacion.fecha_guia) ? (detalles.facturacion.fecha_guia) : '-') }}
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</ng-template>
<!--end::Modal-->  <!--begin::Modal-->


<!--begin::View  Modal-->
<ng-template #embarqueModal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Instrucciones de Embarque</h4>
        <button type="button" class="close" aria-label="Close" (click)="close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="m-portlet__head-caption">
            
            <div class="m-list-settings">
                <div *ngIf="datoEmbarque" class="m-list-settings__group">
                    <div class="m-list-settings__item">
                        <span class="m-list-settings__item-label">
                            WHBOX
                        </span>
                        <span class="m-list-settings__item-control" *ngIf="!datoEmbarque.warehouse">
                          <i class="fa fa-warning" ></i>
                         </span>
                         <span class="m-list-settings__item-control" *ngIf="datoEmbarque.warehouse">
                            {{ datoEmbarque.warehouse }}
                           </span>
                    </div>
                    <div class="m-list-settings__item">
                        <span class="m-list-settings__item-label">
                            Trackbox
                        </span>
                        <span class="m-list-settings__item-control">
                          {{ datoEmbarque.trackbox }}
                         </span>
                    </div>
                    <div class="m-list-settings__item">
                        <span class="m-list-settings__item-label">
                            Código Consolidado
                        </span>
                        <span class="m-list-settings__item-control">
                          {{ datoEmbarque.codigo_consolidado ? datoEmbarque.codigo_consolidado : '-' }}
                         </span>
                    </div>
                    <div class="m-list-settings__item">
                        <span class="m-list-settings__item-label">
                            Descripción
                        </span>
                        <span class="m-list-settings__item-control">
                          {{ datoEmbarque.descripcion }}
                         </span>
                    </div>
                  
                    <div class="m-list-settings__item">
                        <span class="m-list-settings__item-label">
                            Remitente Embarque
                        </span>
                        <span class="m-list-settings__item-control " *ngIf="datoEmbarque.usuario_embarque_remitente"
                              >
                              {{datoEmbarque.usuario_embarque_remitente.numero_identidad}} - {{datoEmbarque.usuario_embarque_remitente.codigo}} {{ datoEmbarque.usuario_embarque_remitente.full_name }}
                         </span>
                         <span class="m-list-settings__item-control" *ngIf="!datoEmbarque.usuario_embarque_remitente && datoEmbarque.extra_embarque_remitente"
                         >
                         {{ datoEmbarque.extra_embarque_remitente.identificacion }} - {{ datoEmbarque.extra_embarque_remitente.nombre }} {{datoEmbarque.extra_embarque_remitente.apellidos}})
                        </span>
                        <span class="m-list-settings__item-control" *ngIf="!datoEmbarque.usuario_embarque_remitente && !datoEmbarque.extra_embarque_remitente && datoEmbarque.tienda_embarque "
                       >
                         {{ datoEmbarque.tienda_embarque }}
                       </span>
                        <span class="m-list-settings__item-control" *ngIf="!datoEmbarque.usuario_embarque_remitente && !datoEmbarque.extra_embarque_remitente &&
                        !datoEmbarque.tienda_embarque && datoEmbarque.usuario_carrier"
                              >
                              {{datoEmbarque.usuario_carrier.numero_identidad}} - {{datoEmbarque.usuario_carrier.codigo}} {{ datoEmbarque.usuario_carrier.full_name }}
                         </span>
                         <span class="m-list-settings__item-control" *ngIf="!datoEmbarque.usuario_embarque_remitente && !datoEmbarque.extra_embarque_remitente &&
                         !datoEmbarque.tienda_embarque && !datoEmbarque.usuario_carrier && datoEmbarque.extra_carrier"
                         >
                         {{ datoEmbarque.extra_carrier.identificacion }} - {{ datoEmbarque.extra_carrier.nombre }} {{resourceData.extra_carrier.apellidos }}
                    </span>
                    <span class="m-list-settings__item-control" *ngIf="!datoEmbarque.usuario_embarque_remitente && !datoEmbarque.extra_embarque_remitente &&
                    !datoEmbarque.tienda_embarque && !datoEmbarque.extra_carrier && !datoEmbarque.usuario_carrier"
                    >
                      {{ datoEmbarque.tienda }}
                     </span>
                    </div>
                    <div class="m-list-settings__item">
                        <span class="m-list-settings__item-label">
                            Consignatario Embarque
                        </span>
                        <span class="m-list-settings__item-control" *ngIf="datoEmbarque.usuario_embarque_importer"
                        >
                        {{ datoEmbarque.usuario_embarque_importer.numero_identidad }} - {{ datoEmbarque.usuario_embarque_importer.codigo }} {{ datoEmbarque.usuario_embarque_importer.full_name}}
                   </span>
                   <span class="m-list-settings__item-control" *ngIf="!datoEmbarque.usuario_embarque_importer && datoEmbarque.extra_embarque_importer"
                   >
                   {{ datoEmbarque.extra_embarque_importer.identificacion }} - {{ datoEmbarque.extra_embarque_importer.nombre }} {{datoEmbarque.extra_embarque_importer.apellidos}}
                  </span>
                
                  <span class="m-list-settings__item-control" *ngIf="!datoEmbarque.usuario_embarque_importer && !datoEmbarque.extra_embarque_importer &&
                  datoEmbarque.usuario"
                        >
                        {{datoEmbarque.usuario.numero_identidad}} - {{datoEmbarque.usuario.codigo}} {{ datoEmbarque.usuario.nombre }} {{datoEmbarque.usuario.apellido}}
                   </span>
                   <span class="m-list-settings__item-control" *ngIf="!datoEmbarque.usuario_embarque_importer && !datoEmbarque.extra_embarque_importer &&
                    datoEmbarque.extra && !datoEmbarque.usuario"
                   >
                   {{datoEmbarque.extra.usuario?.numero_identidad}} - {{datoEmbarque.extra.usuario?.codigo}} {{ datoEmbarque.extra.usuario?.nombre }} {{datoEmbarque.extra.usuario?.apellido}} <br/>  ({{ datoEmbarque.extra.identificacion }} - {{ datoEmbarque.extra.nombre }} {{resourceData.extra.apellidos}})
              </span>
             
                    </div>
                    <div class="m-list-settings__item">
                        <span class="m-list-settings__item-label">
                            Peso(Lb)
                        </span>
                        <span class="m-list-settings__item-control">
                          {{ datoEmbarque.peso | number:'1.2-2' }}
                         </span>
                    </div>
                    <div class="m-list-settings__item">
                        <span class="m-list-settings__item-label">
                            Volumen(Vlb)
                        </span>
                        <span class="m-list-settings__item-control">
                          {{ datoEmbarque.volumen | number:'1.2-2' }}
                         </span>
                    </div>
                    <div class="m-list-settings__item">
                        <span class="m-list-settings__item-label">
                            Costo(USD)
                        </span>
                        <span class="m-list-settings__item-control">
                          {{ datoEmbarque.precio }}
                         </span>
                    </div>
                    <div class="m-list-settings__item">
                        <span class="m-list-settings__item-label">
                            Piezas
                        </span>
                        <span class="m-list-settings__item-control">
                          {{ datoEmbarque.piezas }}
                         </span>
                    </div>
                    <div class="m-list-settings__item">
                        <span class="m-list-settings__item-label">
                            Unidades Físicas
                        </span>
                        <span class="m-list-settings__item-control">
                          {{ datoEmbarque.unidades ? datoEmbarque.unidades : 0 }}
                         </span>
                    </div>
					 <div class="m-list-settings__item">
                        <span class="m-list-settings__item-label">
                            Categoría o partida arancelaria
                        </span>
                        <span class="m-list-settings__item-control">
                            {{ (datoEmbarque.nota && datoEmbarque.categoria ) ? datoEmbarque.categoria +' - '+ datoEmbarque.nota : (datoEmbarque.nota ? datoEmbarque.nota : (datoEmbarque.categoria ? datoEmbarque.categoria : '-')) }}
                         </span>
                    </div>
                    <div class="m-list-settings__item" *ngIf="datoEmbarque.descripcion_embarque">
                        <span class="m-list-settings__item-label">
                          Descripción Recomendada
                        </span>
                        <span class="m-list-settings__item-control">
                          {{ datoEmbarque.descripcion_embarque ? datoEmbarque.descripcion_embarque : '-' }}
                         </span>
                    </div>
                </div>
            </div>

        </div>

    </div>
</ng-template>
<!--end::Modal-->



<!--begin::View  Modal-->
<ng-template #notasModal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Notas</h4>
        <button type="button" class="close" aria-label="Close" (click)="close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="m-portlet__head-caption">
            <div class="m-list-settings">
                <h5 *ngIf="notas.notaArticulo" style="margin-top: 5px;">Notas del Artículo</h5>
                <span  *ngIf="notas.notaArticulo">{{ notas.notaArticulo }}</span>
                <h5 *ngIf="notas.notaEnvio" style="margin-top: 5px;">Notas del Envío</h5>
                <span  *ngIf="notas.notaEnvio">{{ notas.notaEnvio }}</span>
                <h5 *ngIf="notas.notaFacturacion" style="margin-top: 5px;">Notas del Recibo</h5>
                <span  *ngIf="notas.notaFacturacion">{{ notas.notaFacturacion }}</span>
                <h5 *ngIf="notas.notaGuia" style="margin-top: 5px;">Notas de la Guía Madre</h5>
                <span  *ngIf="notas.notaGuia">{{ notas.notaGuia }}</span>
                <h5 *ngIf="notas.notaGuiaEntrega" style="margin-top: 5px;">Notas de la Guía de Entrega</h5>
                <span  *ngIf="notas.notaGuiaEntrega">{{ notas.notaGuiaEntrega }}</span>
                <h5 *ngIf="notas.notaRetiro" style="margin-top: 5px;">Notas del Servicio de Bodega</h5>
                <span  *ngIf="notas.notaRetiro">{{ notas.notaRetiro }}</span> 
            </div>

        </div>
    </div>
</ng-template>
<!--end::Modal-->