<div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title">
                {{appService.title}}
            </h3>
        </div>
    </div>
</div>
<div class="m-content">
<h3 class="mb-2">{{message}}</h3>

    <button class="btn btn-success m-btn m-btn--custom  m-btn--air" style="color: #fff; background-color: #1e1111;
    border-color: #1e1111;margin-right: 5px"
            (click)="onVolver()">
            <span>
                <span>
                    Volver
                </span>
            </span>
    </button>
</div>