<div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="page-title">
                {{appService.title}}
            </h3>
        </div>
    </div>
</div>
<hr>
<div class="m-subheader" *ngIf="appService.user">
    <div class="d-flex align-items-center">
        <div class="profile-info col-12">
            <h1 class="col-12">
                {{appService.user.nombre}} {{appService.user.apellido}}
            </h1>
            <div class="row">
                <div class="col-md-5 col-lg-5 col-sm-12">
                    <span style="font-size: 14px">
                        <i class="fa fa-briefcase"></i>
                        <strong>Dirección de Entrega: </strong> {{appService.user.direccion}}
                    </span><br>
                    <span style="font-size: 14px" *ngIf="appService.user.provincia">
                        <i class="fa fa-location-arrow"></i>
                        <strong>Provincia/Departamento: </strong> {{appService.user.provincia.nombre}}
                    </span><br>
                    <span style="font-size: 14px" *ngIf="appService.user.ciudad">
                        <i class="fa fa-location-arrow"></i>
                        <strong>Ciudad: </strong> {{appService.user.ciudad.nombre}}
                    </span><br>
                </div>
                <div class="col-md-7 col-lg-7 col-sm-12">
                    <span style="font-size: 14px">
                        <strong>Casillero Internacional: </strong>
                    </span><br>
                    <span style="font-size: 14px">
                         {{appService.user.nombre}} {{appService.user.apellido}} / {{appService.user.interfaz.name}}
                    </span><br>
                    <span style="font-size: 14px">
                         {{appService.user.interfaz.direccion}} #{{appService.user.codigo}}
                    </span><br>
                    <span style="font-size: 14px">
                         {{appService.user.interfaz.region}}
                    </span><br>
                    <span style="font-size: 14px">
                         Telf: {{appService.user.interfaz.telefono}}
                    </span><br>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="m-content">
    <ul class="nav nav-tabs  m-tabs-line m-tabs-line--success" role="tablist">
        <li class="nav-item m-tabs__item" (click)="seleccionarTab('enBodegaSeleccionadas')">
            <a class="nav-link m-tabs__link active" data-toggle="tab" href="#enBodegaTab" role="tab">
                En Bodega <span class="m-badge m-badge--success" *ngIf="totalEnBodega">{{totalEnBodega}}</span>
            </a>
        </li>
        <li class="nav-item m-tabs__item" (click)="seleccionarTab('embarcadosSeleccionadas')">
            <a class="nav-link m-tabs__link" data-toggle="tab" href="#embarcadosTab" role="tab">
                Embarcado <span class="m-badge m-badge--success" *ngIf="totalEmbarcados">{{totalEmbarcados}}</span>
            </a>
        </li>
        <!-- <li class="nav-item m-tabs__item" (click)="seleccionarTab('enTransitoSeleccionadas')">
            <a class="nav-link m-tabs__link" data-toggle="tab" href="#enTransitoTab" role="tab">
                En Tránsito <span class="m-badge m-badge--success" *ngIf="totalEnTransito">{{totalEnTransito}}</span>
            </a>
        </li> -->
        <li class="nav-item m-tabs__item" (click)="seleccionarTab('facturacionSeleccionadas')">
            <a class="nav-link m-tabs__link" data-toggle="tab" href="#facturacionTab" role="tab">
                En el País <span class="m-badge m-badge--success" *ngIf="totalFacturacion">{{totalFacturacion}}</span>
            </a>
        </li>
        <li class="nav-item m-tabs__item" (click)="seleccionarTab('rutaNacionalSeleccionadas')">
            <a class="nav-link m-tabs__link" data-toggle="tab" href="#rutaNacionalTab" role="tab">
                Ruta Nacional <span class="m-badge m-badge--success" *ngIf="totalRutaNacional">{{totalRutaNacional}}</span>
            </a>
        </li>
        <li class="nav-item m-tabs__item" (click)="seleccionarTab('entregadosSeleccionadas')">
            <a class="nav-link m-tabs__link" data-toggle="tab" href="#entregadosTab" role="tab">
                Entregados <span class="m-badge m-badge--success" *ngIf="totalEntregados">{{totalEntregados}}</span>
            </a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane" id="enBodegaTab" role="tabpanel" [class.active]="enBodegaSeleccionadas">
            <div class="m-portlet m-portlet--mobile">
                <div class="m-portlet__body">

                    <!--begin: Search Form -->
                    <div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
                        <app-en-bodega-list-header [totalEnBodega]="enBodegaSeleccion.length" [selection]="enBodegaSeleccion"
                            (consolidar)="onConsolidar()"
                            (embarcar)="onEmbarcar(embarcar)"
                            [puedeFactura]="puedeFactura"
                            [consolidarPaquete]="consolidarPaquete"
                            [enviarPaquete]="enviarPaquete"
                            (facturaMasiva)="OnModalFactura(facturaMasivaModal)"
                        ></app-en-bodega-list-header>
                    </div>
                    <!--end: Search Form -->        <!--begin: Datatable -->

                    <div class="row" style="justify-content: center">
                        <div class="m-loader" style="width: 30px;" *ngIf="!enBodega && enBodegaSeleccionadas"></div>
                    </div>
                    <app-en-bodega-datatable
                            *ngIf="enBodega && enBodegaSeleccionadas"
                            [data]="enBodega"
                            (ver)="verImagenes($event, imagenesModal)"
                            [totalItems]="totalEnBodega"
                            [filters]="enBodegaFilters"
                            [url]="urlfactura"
                            (trackboxOutput)= "onTrackbox($event)"
                            (addFactura)="onSubirFactura($event)"
                            (filtersChange)="onEnBodegaFiltersChange($event)"
                            (selectionChange)="onEnBodegaSelectionChange($event)"
                            (datosSelection)= "onDatos($event)"
                            (preciosSelection)= "onSelectionPrecios($event)"
                            (facturaSelection)= "onPuedeFactura($event)"
                            (consolidarSelection)= "onConsolidarPaquete($event)"
                            (enviarSelection)= "onEnviarPaquete($event)"
                    ></app-en-bodega-datatable>
                </div>
                <!--end: Datatable -->
            </div>
        </div>
        <div class="tab-pane" id="embarcadosTab" role="tabpanel" [class.active]="embarcadosSeleccionadas">
            <div class="m-portlet m-portlet--mobile">
                <div class="m-portlet__body">

                    <div class="row" style="justify-content: center">
                        <div class="m-loader" style="width: 30px;" *ngIf="!embarcados && embarcadosSeleccionadas"></div>
                    </div>
                    <app-embarcados-datatable
                            *ngIf="embarcados && embarcadosSeleccionadas"
                            [data]="embarcados"
                            (ver)="verImagenes($event, imagenesModal)"
                            [totalItems]="totalEmbarcados"
                            [filters]="embarcadosFilters"
                            [url]="urlfactura"
                    ></app-embarcados-datatable>
                </div>
                <!--end: Datatable -->
            </div>
        </div>
        <div class="tab-pane" id="enTransitoTab" role="tabpanel" [class.active]="enTransitoSeleccionadas">

            <div class="m-portlet m-portlet--mobile">
                <div class="m-portlet__body">
                    <div class="row" style="justify-content: center">
                        <div class="m-loader" style="width: 30px;"
                             *ngIf="!enTransito && enTransitoSeleccionadas"></div>
                    </div>
                    <app-en-transito-datatable
                            *ngIf="enTransito && enTransitoSeleccionadas"
                            [data]="enTransito"
                            (ver)="verImagenes($event, imagenesModal)"
                            [totalItems]="totalEnTransito"
                            [filters]="enTransitoFilters"
                            (filtersChange)="onEnTransitoFiltersChange($event)"
                    ></app-en-transito-datatable>
                </div>
                <!--end: Datatable -->
            </div>
        </div>

        <div class="tab-pane" id="facturacionTab" role="tabpanel" [class.active]="facturacionSeleccionadas">

            <div class="m-portlet m-portlet--mobile">
                <div class="m-portlet__body">
                    <div class="row" style="justify-content: center">
                        <div class="m-loader" style="width: 30px;"
                             *ngIf="!facturacion && facturacionSeleccionadas"></div>
                    </div>
                    <app-facturacion-datatable
                            *ngIf="facturacion && facturacionSeleccionadas"
                            [data]="facturacion"
                            (ver)="verImagenes($event, imagenesModal)"
                            [totalItems]="totalFacturacion"
                            [filters]="facturacionFilters"
                            (filtersChange)="onFacturacionFiltersChange($event)"
                    ></app-facturacion-datatable>
                </div>
                <!--end: Datatable -->
            </div>
        </div>

        <div class="tab-pane" id="rutaNacionalTab" role="tabpanel" [class.active]="rutaNacionalSeleccionadas">

            <div class="m-portlet m-portlet--mobile">
                <div class="m-portlet__body">
                    <div class="row" style="justify-content: center">
                        <div class="m-loader" style="width: 30px;"
                             *ngIf="!rutaNacional && rutaNacionalSeleccionadas"></div>
                    </div>
                    <app-ruta-nacional-datatable
                            *ngIf="rutaNacional && rutaNacionalSeleccionadas"
                            [data]="rutaNacional"
                            (ver)="verImagenes($event, imagenesModal)"
                            [totalItems]="totalRutaNacional"
                            [filters]="rutaNacionalFilters"

                            (filtersChange)="onRutaNacionalFiltersChange($event)"
                    ></app-ruta-nacional-datatable>
                </div>
                <!--end: Datatable -->
            </div>
        </div>

        <div class="tab-pane" id="entregadosTab" role="tabpanel" [class.active]="entregadosSeleccionadas">

            <div class="m-portlet m-portlet--mobile">
                <div class="m-portlet__body">
                    <div class="row" style="justify-content: center">
                        <div class="m-loader" style="width: 30px;"
                             *ngIf="!entregados && entregadosSeleccionadas"></div>
                    </div>
                    <app-entregados-datatable
                            *ngIf="entregados && entregadosSeleccionadas"
                            [data]="entregados"
                            [totalItems]="totalEntregados"
                            (ver)="verImagenes($event, imagenesModal)"
                            [filters]="entregadosFilters"

                            (filtersChange)="onEntregadosFiltersChange($event)"
                    ></app-entregados-datatable>
                </div>
                <!--end: Datatable -->
            </div>
        </div>
    </div>
</div>

<!--begin::Images Modal-->
<ng-template #imagenesModal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Imágenes</h4>
        <button type="button" class="close" aria-label="Close" (click)="c('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body row">
        <div *ngFor="let image of articulo[0]" class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
            <img [src]="articulo[1]+image.url" style="width: 150px; height: 150px; object-fit: contain">
        </div>
    </div>
</ng-template>
<!--end::Modal-->  <!--begin::Modal-->


<!--begin::View  Modal-->
<ng-template #facturaMasivaModal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Factura masiva</h4>
        <button type="button" class="close" aria-label="Close" (click)="close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="m-portlet__head-caption">
            <div class="m-list-settings">
                <form class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed"
                      #facturaForm="ngForm" (submit)="onSubmitFactura(facturaForm.value)">
                    <div class="m-portlet__body">
        
                        <div class="form-group m-form__group row">
                            <label class="col-lg-3 col-form-label">
                                Factura*:
                            </label>
                            <div class="input-group col-lg-6" style="padding-top: 10px;">
                                <input required
                                name="archivo"
                                type="file"
                                hidden
                                #fileInput
                                (change)="onSubirFacturaInput($event)"
                        >
                    <i class="fa fa-folder-open m--font-success" style="cursor: pointer" title="Subir Factura" (click)="fileInput.click()" ></i>
                    <span *ngIf="file">{{ file.name }}</span>      
                            </div>
                        </div>
                    </div>
                    <div class="form-group m-form__group row">
                        <div class="col-lg-3">
                        <input type="text" class="form-control m-input" 
                        [(ngModel)]="nombreTrackbox" #nombre="ngModel"
                        name="nombre" hidden placeholder="Nombre Factura"
                        required>
                        </div>
                    </div>
                    <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
                        <div class="m-form__actions m-form__actions--solid">
                            <div class="row">
                                <div class="col-lg-2"></div>
                                <div class="col-lg-10">
                                    <button type="submit"
                                            [disabled]="!fileInput.value && !nombre.value"
                                            [class]="(facturaForm.invalid == false) ? 'btn btn-success' : 'btn btn-danger'"
                                    >
                                        Guardar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</ng-template>
<!--end::Modal-->

<!--begin::View  Modal-->
<ng-template #embarcar let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Embarcar</h4>
        <button type="button" class="close" aria-label="Close" (click)="close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="m-portlet__head-caption">
            <div class="m-list-settings">
                <div class="row" style="margin: 5px">
                    <h3>Se embarcarán estos artículos</h3>
                </div>
                <div class="table-responsive">
                <table class="table table-bordered table-responsive m-table m-table--head-bg-brand">
                    <thead>
                    <tr>
                        <th>
                            TRACKBOX
                        </th>
                        <th>
                            Track Remitente
                        </th>
                        <th>
                            Peso(Lb)
                        </th>
                        <th>
                            Dimensiones(In)
                        </th>
                        <th>
                            Costo(USD)
                        </th>
                        <th>
                            Piezas
                        </th>
                        <th>Descripción </th>
                        
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let articulo of articulos">
                        
                        <td>
                            <p *ngIf="articulo.trackbox">{{ articulo.trackbox }}</p>
                            <i class="fa fa-warning" *ngIf="!articulo.trackbox"></i>
                        </td>
                         <td>
                            {{ articulo.tracking }}
                        </td>
                        <td>
                            {{ articulo.peso | number:'1.2-2' }}
                        </td>
                        <td>
                            {{ articulo.largo }}x{{articulo.ancho}}x{{articulo.alto}}
                        </td>
                        <td>
                            {{ articulo.precio }}
                        </td>
                        <td>
                            {{ articulo.piezas }}
                        </td>
                        <td>{{ articulo.descripcion }}</td>
                       
                    </tr>
                    </tbody>
                </table>
                </div>
                <div *ngIf="existeRemitente"
                class="col-12"
                style="background-color: #676c7bd8; color: white; margin: 3px"
                >
                    <span>Debe seleccionar Remitente porque no coinciden los artículos seleccionados.</span>
                </div>
                <div *ngIf="existeImporter"
                class="col-12"
                style="background-color: #676c7bd8; color: white; margin: 3px"
                >
                    <span>Debe seleccionar Importer porque no coinciden los artículos seleccionados.</span>
                </div>
                <div class="row" style="margin: 5px">
                    <h3>Si desea cambiar los datos del embarque</h3>
                </div>
                <form class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed"
                      #embarcarForm="ngForm" (submit)="onSubmitEmbarcar(embarcarForm.value)">
                    <div class="m-portlet__body">
                     
                    <div class="form-group m-form__group row">
                            <label class="col-lg-3 col-form-label">
                                Remitente:
                            </label>
                            <div class="col-lg-4">
                                <input type="text" class="form-control m-input" placeholder="Tienda o Usuario NO REGISTRADO"
                                [(ngModel)]="text"  #remitente_text="ngModel"
                                name="remitente_text" (keyup)= "validarForm()"
                                >
                            </div>
                            <div class="col-lg-4">
                                <div class="m-loader m-loader--primary m-loader--right" *ngIf="!usuarios">
                                    <input type="text" class="form-control"/>
                                </div>
                                <app-auto-complete *ngIf="usuarios" placeholder="USUARIO REGISTRADO"
                                                    [(ngModel)]="remitente_usuario" #remitente_id="ngModel"
                                                    name="remitente_id"  [items]="usuarios"
                                                    [textField]="'numero_identidad'"
                                                    textField1="nombre"
                                                    textField2="apellido"
                                                    valueField="numero_identidad"
                                                    (change)= "validarForm()"
                                ></app-auto-complete>
                            </div>
                         
                        </div>
                        <div class="form-group m-form__group row">
                           
                            <label class="col-lg-3 col-form-label">
                                Consignatario*:
                            </label>
                            <div class="col-lg-4">
                                <div class="m-loader m-loader--primary m-loader--right" *ngIf="!usuarios_importer">
                                    <input type="text" class="form-control"/>
                                </div>
                                <app-auto-complete *ngIf="usuarios_importer" placeholder="Seleccione"
                                                    [(ngModel)]="importer_usuario" #importer="ngModel"
                                                    name="importer" [items]="usuarios_importer"
                                                    [textField]="'numero_identidad'"
                                                    textField1="nombre"
                                                    textField2="apellido"
                                                    valueField="numero_identidad"
                                                    (change)= "validarForm()"
                                ></app-auto-complete>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
                        <div class="m-form__actions m-form__actions--solid">
                            <div class="row">
                                <div class="col-lg-2"></div>
                                <div class="col-lg-10">
                                    <button type="submit"
                                            [disabled]="validar"
                                            [class]="(embarcarForm.invalid == false) ? 'btn btn-success' : 'btn btn-danger'"
                                    >
                                        Guardar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</ng-template>
<!--end::Modal-->
